@import url('../../../css/colors.css');

body {
  margin: 0;
}

.teksti {
  color: #000;
  font-family: 'Titillium Web', sans-serif;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: large;
  text-align: center;
}

.video {
  width: auto;
}

.videocont {
  position: relative;
  top: 70px;
  left: 25%;
  width: 50%;
}