@import url('../../../css/colors.css');

body {
  margin: 0;
}

.teksti {
  color: #000;
  font-family: 'Titillium Web', sans-serif;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: large;
  text-align: center;
}

.video video {
  width: 420px;
  height: 240px;
  padding-left: 160px;
  padding-top: 50px;
}
