.nav ul {
  list-style-type: none;
  justify-content: space-between;
  background-color: #d1f5ff;
  display: flex;
  margin: 0;
  padding: 0;
  align-content: center;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  text-align: center;
  padding: 4rem;
  text-decoration: none;
  font-size: x-large;
  font-family: 'Anton', sans-serif;
  color: #38b6ff;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
  text-decoration: underline;
}

#logo {
  width: 150px;
}
