*{
    font-family: 'Anton', sans-serif;
    color: #38b6ff;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;

}


.nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #D1F5FF;
    display: block;
    width: auto;
    margin: auto;
    flex-wrap: wrap;

}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 55px 80px;
    text-decoration: none;
    font-size: x-large;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    text-decoration: underline;
}

#logo{
    width: 150px;
}

.etusivunkuva img{
    object-fit: fill;
    width: 100%;
    height: auto;
}

.teksti {

    text-align: center;
    font-size: large;
    background: #D1F5FF;
    padding: 40px;
    margin-top: -6px;
}

.ekareferenssi {
    position: relative;
    padding-left: 20px;
    text-align: center;
    right: 350px;
}
.tokareferenssi {
    position: relative;
    left: 300px;
    bottom: 460px;
    margin-left: auto;
    text-align: center;

}

.ekareferenssi img {
    width: 350px;
    position: center;
    height: 300px;
}

.tokareferenssi img {
    width: 350px;
    position: center;
    height: 300px;

}
