ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 35px 16px;
    text-decoration: none;
    color: #38b6ff;
    font-size: x-large;
    font-family: 'Anton', sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    text-decoration-color: #38b6ff;
}

#logo{
    width: 150px;
}