*{
    font-family: 'Anton', sans-serif;
    color: #38b6ff;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;

}


.nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #D1F5FF;
    display: block;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;

}


.nav li {
    float: left;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: x-large;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    text-decoration: underline;
}

#logo{
    width: 150px;
}

.etusivunkuva img{
    object-fit: fill;
    width: 100%;
    height: auto;
}

.teksti {

    text-align: center;
    font-size: large;
    background: #D1F5FF;
    padding: 40px;
    margin-top: -6px;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}
.ekareferenssi {
    width: 610px;
    float:left;
    text-align: center;

}
.tokareferenssi {
    float: left;
    text-align: center;
}

.ekareferenssi img {
    width: 350px;
    position: center;
    height: 300px;
}

.tokareferenssi img {
    width: 350px;
    position: center;
    height: 300px;

}
