html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

.container img {
    object-fit: fill;
    width: 100%;
    height: 300px;
    margin-top: 10px;
}
.container{
    position: relative;
    text-align: center;
    color: white;
}

.parent {
    display: flex;

}

.parent2 {
    display: flex;
}

.konttorikuva img{
    width: 100%;

}

.konttorikuva {
    width: 50%;
}


.teksti{
    color: black;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 150px;
    font-size: x-large;
    text-align: center;
    width: 50%;
}

.teksti2{
    font-family: 'Titillium Web', sans-serif;
    font-size: x-large;
    color: black;
    text-align: center;
    width: 50%;
    padding-top: 70px;

}

.clearfix {
    overflow: auto;
}

.valiotsikko{
    color: black;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: large;
    text-align: center;


}

.otsikko{
    font-family: 'Titillium Web', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    padding-top: 100px;
    color: #fff;
}

/*
Ota yhteyttä form
 */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 700px; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #38b6ff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}



/* Add a background color and some padding around the form */
.cont {
    border-radius: 5px;
    background-color: #d1f5ff;
    padding: 20px;
    margin: auto;
    width: 60%;
    display: flex;
}

#map {
    width: 50%;
    height: 500px;
    padding-top: 50px;
}
