@import url('../../../css/colors.css');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1em;
}

.flexbox > * {
  flex: 1 1 100%;
  margin-bottom: 0;
  margin-left: 1em;
  height: 2em;
}

#inputs {
  position: absolute;
  top: 22em;
  left: 0;
  bottom: 0;
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 12.5vw;
}

.input-field {
  width: 100%;
  min-width: 65px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 2.5px;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  background-color: var(--ogls-gray);
  border: 3px solid var(--ogls-blue);
  border-radius: 4px;
}

#search-button {
  width: 100%;
  min-width: 75px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50%;
  margin-top: 1em;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: var(--ogls-gray);
  border: 3px solid var(--ogls-blue);
  border-radius: 4px;
}

#map-canvas {
  display: inline-block;
  height: 70vh;
  width: 70vw;
}

#map-canvas img {
  height: 100%;
  width: 100%;
}

#output {
  width: 12.5vw;
  visibility: hidden;
  list-style-type: none;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

#output li {
  width: 100%;
  background-color: var(--ogls-gray);
  color: #fff;
  padding: 0.5em;
  /* margin-top: 8px;
  margin-bottom: 8px; */
  margin-left: -40px;
  text-align: center;
  border: 3px solid var(--ogls-blue);
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 2.5px;
}

.parent {
  padding-top: 20px;
  display: flex;
}
