* {
  font-family: 'Anton', sans-serif;
  color: #38b6ff;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.etusivunkuva img {
  object-fit: fill;
  width: 100%;
  height: auto;
  margin-top: 10px;

}

.teksti {
  text-align: center;
  font-size: large;
  padding: 40px;
  margin-top: 10px;
  color: #333333;
}

.wrapper {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  display: flex;
}
.ekareferenssi {
  width: 500px;
  text-align: center;
}
.tokareferenssi {
  width: 500px;
  text-align: center;
}

.ekareferenssi img {
  width: 350px;
  position: center;
  height: 300px;
}

.tokareferenssi img {
  width: 350px;
  position: center;
  height: 300px;
}
