@import url('../../../css/colors.css');

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.banner img {
  height: auto;
}

.teksti {
  text-align: center;
  font-size: large;
  padding: 40px;
  margin-top: 10px;
}

.wrapper {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  display: flex;
}
.ekareferenssi {
  width: 500px;
  text-align: center;
}
.tokareferenssi {
  width: 500px;
  text-align: center;
}

.ekareferenssi img {
  width: 350px;
  position: center;
  height: 300px;
}

.tokareferenssi img {
  width: 350px;
  position: center;
  height: 300px;
}
